body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'poppins', sans-serif;
    background: rgb(33, 17, 17);
}

/* Hero section starts here */
.hero {
    background: url(./images/White\ rhinoceros\,\ Ceratotherium\ simum.jpg);
    width: 100%;
    height: 90vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

/* Nav section starts here */
nav {
    width: 90%;
    height: 80px;
    background: rgb(255, 254, 254);
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.logoimg {
    width: 50px;
    height: 50px;
}

.navlinks {
    width: 30%;
    height: auto;
    align-items: center;
    justify-content: center;
    padding: 10px;
}


ul {
    gap: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

li {
    list-style: none;
    cursor: pointer;
}

li:hover {
    color: white;
    background: green;
    padding: 5px;
    border-radius: 3px;
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 5px;
    margin-left: 30px;
}

.searchicon {
    width: 20px;
    height: 20px;
}

button {
    background: orange;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;

}

/* Nav section ends here */

/* hero title starts here */

.herotitle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.herotitle h1 {
    color: white;
    font-size: 60px;
    text-align: center;
}

.herotitle p {
    color: white;
    font-size: 30px;
    text-align: center;
}

/* HEro title ends here */
/* Hero Section ends here */

/* Latest product starts here */
.latest-project {
    border: 2px solid white;
    width: auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.latest-project h3 {
    color: white;
}

.latest-project p {
    color: orange;
}

.animals {
    width: auto;
    height: 70%;
    padding: 20px;
    display: flex;
    gap: 20px;

}

.animal-container1 {
    border: 2px solid white;
    width: 300px;
    height: auto;
    padding: 30px 20px;
    background: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.animal-container1 h4 {
    color: black;
}

.animal-container1 p {
    color: black;
    text-align: center;
}

.money{
    font-weight: bold;
}

.animal-image {
    background: url(./images/Hyena.jpg);
    height: 250px;
    width: 300px;
    border-radius: 30px;
}
.animal-image2 {
    background: url(./images/Hyena.jpg);
    height: 250px;
    width: 300px;
    border-radius: 30px;
}
.animal-image3 {
    background: url(./images/Hyena.jpg);
    height: 250px;
    width: 300px;
    border-radius: 30px;
}


/* Latest product ends here */

/* CHeetar-baby starts here */
.cheetar-baby{
    height: 70vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-cheetar{
    height: 100%;
    width: 50%;
    background: url(./images/Sprinting\ Cheetah.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.right-cheetar{
    height: 100%;
    width: 50%;
    background: rgb(39, 66, 39);
}

.cheetar-words{
    color: white;
    position: absolute;
    margin-left: 250px;
  
}

.cheetar-words h2{
    font-size: 40px;
}
/* CHeetar-baby ends here */
/* latest news starts here */
.latestnews{
    background: white;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 60px;
}
.up{
    border-bottom: 2px solid gray;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container{
    padding: 40px;
    gap: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  
 
}

.container1{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

img{
    height: 250px;
    width: 250px;
    border-radius: 5px;
}

.btn-date{
    display: flex;
    gap: 10px;
}

.info h3{
    font-size: 30px;
}

.infobtn{
    background: black;
    color: white;
}

.infobtn:hover{
    background: orange;
    color: black;
}
/* latest news ends here */

/* Community starts here */
.community{
    background: orange;
    padding: 40px 80px;
}

.com-up{
    border-bottom: 2px solid black;
}

.com-up h3{
    font-size: 45px;
}

.com-container{
    padding: 40px 0;
    display: flex;
    justify-content: space-between;
}

.com-container1{
    height: 350px;
    width: 350px;
    background: linear-gradient(to top, black, transparent), url(./images/Queensland\ Things\ To\ Do.jpeg) ;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    color: white;
    border-radius: 50px;
}
.com-container2{
    height: 350px;
    width: 350px;
    background: linear-gradient(to top, black, transparent), url(./images/African\ Fund\ for\ Endangered\ Wildlife\ -\ Giraffe\ Centre.jpeg) ;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    color: white;
    border-radius: 50px;
}
.com-container3{
    height: 350px;
    width: 350px;
    background: linear-gradient(to top, black, transparent), url(./images/Employment\ -\ Australia\ Zoo\ -\ View\ Current\ Vacancies.jpeg) ;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    color: white;
    border-radius: 50px;
}
.com-container4{
    height: 350px;
    width: 350px;
    background: linear-gradient(to top, black, transparent), url(./images/I\ Work\ In\ Zoology_\ This\ Is\ What\ I\ Wear\ To\ Work….jpeg) ;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    color: white;
    border-radius: 50px;
}

.com-container h3{
    font-size: 30px;
}

/* Community ends here */